In [7]:
import pandas as pd
from collections import defaultdict
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("X1.csv", delimiter=";")
df.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q4_7,Q4_8,Q5_1,Q5_2,Q5_3,Q5_4,Q5_5,Q5_6,Q5_7,Q5_8
0,2025-05-28 12:00:53,2025-05-28 12:18:01,IP Address,41.66.99.121,100,1027,True,2025-05-28 12:18:01,R_8IkpM6cQP8JYDu1,NaN,...,7.0,5.0,6.0,4.0,1.0,5.0,8.0,7.0,3.0,2.0
1,2025-05-28 14:08:58,2025-05-28 14:12:40,IP Address,213.225.7.197,100,221,True,2025-05-28 14:12:41,R_80PeBi3Uw8wZ5LK,NaN,...,4.0,1.0,4.0,2.0,3.0,5.0,1.0,8.0,6.0,7.0
2,2025-05-28 14:10:40,2025-05-28 14:19:05,IP Address,213.142.96.179,100,505,True,2025-05-28 14:19:06,R_8K2tV4DclriZjYq,NaN,...,8.0,5.0,7.0,6.0,1.0,2.0,8.0,5.0,3.0,4.0
3,2025-05-28 14:15:38,2025-05-28 14:21:27,IP Address,213.229.5.170,100,348,True,2025-05-28 14:21:27,R_2OlTW9FdTwWG5af,NaN,...,8.0,4.0,6.0,8.0,2.0,1.0,7.0,3.0,4.0,5.0
4,2025-05-28 15:09:57,2025-05-28 15:13:06,IP Address,91.108.243.193,100,188,True,2025-05-28 15:13:06,R_2agG42X1gMaJzr6,NaN,...,7.0,2.0,8.0,2.0,1.0,3.0,4.0,5.0,6.0,7.0

In [4]:
results = {}
for column in df.columns:
    if column.startswith("Q"):  # Only process question-related columns
        results[column] = df[column].mean()

print(results)

{'Q1_1': np.float64(4.975), 'Q1_2': np.float64(3.3), 'Q1_3': np.float64(4.025), 'Q1_4': np.float64(2.825), 'Q1_5': np.float64(4.65), 'Q1_6': np.float64(6.55), 'Q1_7': np.float64(4.95), 'Q1_8': np.float64(4.725), 'Q2_1': np.float64(4.7368421052631575), 'Q2_2': np.float64(4.7105263157894735), 'Q2_3': np.float64(3.526315789473684), 'Q2_4': np.float64(4.131578947368421), 'Q2_5': np.float64(5.421052631578948), 'Q2_6': np.float64(3.9210526315789473), 'Q2_7': np.float64(4.552631578947368), 'Q2_8': np.float64(5.0), 'Q3_1': np.float64(4.864864864864865), 'Q3_2': np.float64(2.7027027027027026), 'Q3_3': np.float64(4.4324324324324325), 'Q3_4': np.float64(3.4594594594594597), 'Q3_5': np.float64(3.5945945945945947), 'Q3_6': np.float64(3.5135135135135136), 'Q3_7': np.float64(6.513513513513513), 'Q3_8': np.float64(6.837837837837838), 'Q4_1': np.float64(2.5789473684210527), 'Q4_2': np.float64(4.578947368421052), 'Q4_3': np.float64(3.5526315789473686), 'Q4_4': np.float64(3.973684210526316), 'Q4_5': np.float64(4.184210526315789), 'Q4_6': np.float64(6.684210526315789), 'Q4_7': np.float64(6.0), 'Q4_8': np.float64(4.447368421052632), 'Q5_1': np.float64(4.230769230769231), 'Q5_2': np.float64(4.666666666666667), 'Q5_3': np.float64(3.1538461538461537), 'Q5_4': np.float64(3.717948717948718), 'Q5_5': np.float64(6.153846153846154), 'Q5_6': np.float64(5.769230769230769), 'Q5_7': np.float64(4.358974358974359), 'Q5_8': np.float64(3.948717948717949)}

In [6]:
question_groups = defaultdict(list)
results_sorted = {}
results_sorted_index = {}

# Group columns by question prefix (e.g., Q1, Q2, ...)
for column in df.columns:
    if column.startswith("Q"):
        q_prefix = column.split("_")[0]
        question_groups[q_prefix].append(column)

# Compute and sort averages for each question group
for q, cols in question_groups.items():
    averages = {col: df[col].mean() for col in cols}

    # Sort columns by average
    sorted_cols = sorted(averages.items(), key=lambda x: x[1])

    # Save sorted averages and corresponding column names
    results_sorted[q] = [avg for _, avg in sorted_cols]
    results_sorted_index[q] = [col for col, _ in sorted_cols]

print("results_sorted:\n", results_sorted)
print("\nresults_sorted_index:\n", results_sorted_index)

results_sorted:
 {'Q1': [np.float64(2.825), np.float64(3.3), np.float64(4.025), np.float64(4.65), np.float64(4.725), np.float64(4.95), np.float64(4.975), np.float64(6.55)], 'Q2': [np.float64(3.526315789473684), np.float64(3.9210526315789473), np.float64(4.131578947368421), np.float64(4.552631578947368), np.float64(4.7105263157894735), np.float64(4.7368421052631575), np.float64(5.0), np.float64(5.421052631578948)], 'Q3': [np.float64(2.7027027027027026), np.float64(3.4594594594594597), np.float64(3.5135135135135136), np.float64(3.5945945945945947), np.float64(4.4324324324324325), np.float64(4.864864864864865), np.float64(6.513513513513513), np.float64(6.837837837837838)], 'Q4': [np.float64(2.5789473684210527), np.float64(3.5526315789473686), np.float64(3.973684210526316), np.float64(4.184210526315789), np.float64(4.447368421052632), np.float64(4.578947368421052), np.float64(6.0), np.float64(6.684210526315789)], 'Q5': [np.float64(3.1538461538461537), np.float64(3.717948717948718), np.float64(3.948717948717949), np.float64(4.230769230769231), np.float64(4.358974358974359), np.float64(4.666666666666667), np.float64(5.769230769230769), np.float64(6.153846153846154)]}

results_sorted_index:
 {'Q1': ['Q1_4', 'Q1_2', 'Q1_3', 'Q1_5', 'Q1_8', 'Q1_7', 'Q1_1', 'Q1_6'], 'Q2': ['Q2_3', 'Q2_6', 'Q2_4', 'Q2_7', 'Q2_2', 'Q2_1', 'Q2_8', 'Q2_5'], 'Q3': ['Q3_2', 'Q3_4', 'Q3_6', 'Q3_5', 'Q3_3', 'Q3_1', 'Q3_7', 'Q3_8'], 'Q4': ['Q4_1', 'Q4_3', 'Q4_4', 'Q4_5', 'Q4_8', 'Q4_2', 'Q4_7', 'Q4_6'], 'Q5': ['Q5_3', 'Q5_4', 'Q5_8', 'Q5_1', 'Q5_7', 'Q5_2', 'Q5_6', 'Q5_5']}

In [9]:
for question, values in results.items():
    # Create option labels like Q1_1, Q1_2, ..., Q1_8
    options = [f"{question}_{i+1}" for i in range(len(values))]

    # Plot
    plt.figure()
    plt.bar(options, values, color='orange')
    plt.title(f"Average Scores per Answer Option for {question}")
    plt.xlabel("Answer Option")
    plt.ylabel("Average Score")
    plt.xticks(rotation=45)
    plt.tight_layout()

plt.show()

TypeError: object of type 'numpy.float64' has no len()